@import "variables.less";


.btn-white-alt {
  color: @blue;
}
header {
  background: url(/templates/ee/images/gray-gradient-bg.jpg) 0 0 no-repeat @grayGradientBackup;
}
.case-studies-child, .who-we-are, .what-we-do {
  .header {
    background: url(/templates/ee/images/gray-gradient-bg.jpg) 0 0 no-repeat @grayGradientBackup;
  }
}
#homeHeaderCarousel {
  .carousel-inner {
    .item {
      .tt {
        background: url(/templates/ee/images/home-header-carousel/tt-bg.jpg) no-repeat center bottom transparent;
      }
      .posrg {
        background: url(/templates/ee/images/home-header-carousel/posrg-bg.jpg) no-repeat center bottom transparent;
      }
      .echo {
        background: url(/templates/ee/images/home-header-carousel/echo-bg.jpg) no-repeat center bottom transparent;
      }
      .al {
        background: url(/templates/ee/images/home-header-carousel/al-bg.jpg) no-repeat center bottom transparent;
      }
    }
  }
}
.custom.home-split {
  .split-right, .split-left {
    &.split-texture {
      background: url(/templates/ee/images/gray-gradient-bg.jpg) no-repeat left top @grayGradientBackup;
    }
  }
}
.custom.home-angel, .custom.home-aerex {
  .split-white {
    img {
      width: auto;
    }
  }
}