// CSS Reset
@import "../../../media/jui/less/reset.less";

// Core variables and mixins
@import "variables.less"; // Custom for this template
@import "../../../media/jui/less/mixins.less";

// Grid system and page structure
@import "../../../media/jui/less/scaffolding.less";
@import "../../../media/jui/less/grid.less";
@import "../../../media/jui/less/layouts.less";

// Base CSS
@import "../../../media/jui/less/type.less";
@import "../../../media/jui/less/code.less";
@import "../../../media/jui/less/forms.less";
@import "../../../media/jui/less/tables.less";

// Components: common
// @import "../../../media/jui/less/sprites.less";
@import "../../../media/jui/less/dropdowns.less";
@import "../../../media/jui/less/wells.less";
@import "../../../media/jui/less/component-animations.less";
@import "../../../media/jui/less/close.less";

// Components: Buttons & Alerts
@import "../../../media/jui/less/buttons.less";
@import "../../../media/jui/less/button-groups.less";
@import "../../../media/jui/less/alerts.less"; // Note: alerts share common CSS with buttons and thus have styles in buttons.less

// Components: Nav
@import "../../../media/jui/less/navs.less";
@import "../../../media/jui/less/navbar.less";
@import "../../../media/jui/less/breadcrumbs.less";
@import "../../../media/jui/less/pagination.less";
@import "../../../media/jui/less/pager.less";

// Components: Popovers
@import "../../../media/jui/less/modals.less";
@import "../../../media/jui/less/tooltip.less";
@import "../../../media/jui/less/popovers.less";

// Components: Misc
@import "../../../media/jui/less/thumbnails.less";
@import "../../../media/jui/less/labels-badges.less";
@import "../../../media/jui/less/progress-bars.less";
@import "../../../media/jui/less/accordion.less";
@import "../../../media/jui/less/carousel.less";
@import "../../../media/jui/less/hero-unit.less";

// Utility classes
@import "../../../media/jui/less/utilities.less";

// RESPONSIVE CLASSES
// ------------------

@import "../../../media/jui/less/responsive-utilities.less";


// MEDIA QUERIES
// ------------------

// Phones to portrait tablets and narrow desktops
@import "../../../media/jui/less/responsive-767px-max.less";

// Tablets to regular desktops
@import "../../../media/jui/less/responsive-768px-979px.less";

// Large desktops
@import "../../../media/jui/less/responsive-1200px-min.less";


// RESPONSIVE NAVBAR
// ------------------

// From 979px and below, show a button to toggle navbar contents
@import "../../../media/jui/less/responsive-navbar.less";

// Extended for JUI
@import "../../../media/jui/less/bootstrap-extended.less"; // Has to be last to override when necessary
// div.modal (instead of .modal)
@import "../../../media/jui/less/modals.joomla.less";
@import "../../../media/jui/less/responsive-767px-max.joomla.less";

// Icon Font
@import "icomoon.less";


.sans() {
  font-family: "Lato", sans-serif;
}
.cursive() {
  font-family: "Oleo Script", cursive;
}
.antialiased() {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
.subpixel() {
  -webkit-font-smoothing: sub-pixel-antialiased;
  -moz-osx-font-smoothing: sub-pixel-antialiased;
  -o-font-smoothing: auto;
  font-smoothing: antialiased;
}

.btn {
  .sans;
  font-weight: 700;
  .antialiased;
  font-size: 16px;
  text-transform: uppercase;
  padding: 22px 36px;
  border-radius: 8px;
  border: 1px solid;
  text-shadow: none;
  box-shadow: none;
  -webkit-transition: 150ms linear;
  -moz-transition: 150ms linear;
  -o-transition: 150ms linear;
  -ms-transition: 150ms linear;
  transition: 150ms linear;
  letter-spacing: 1px;

  &:hover {
    -webkit-transition: 150ms linear;
    -moz-transition: 150ms linear;
    -o-transition: 150ms linear;
    -ms-transition: 150ms linear;
    transition: 150ms linear;
  }
}
.btn-wide {
  padding: 22px 58px;
  width: auto;
}
.btn-white {
  color: @blue;
  border-color: @white;
  background: rgba(255,255,255,0.32);

  &:hover {
    color: @blue;
    background: rgb(255,255,255);
  }
}
.btn-white-alt {
  color: @white;
  border-color: @white;
  background: rgba(255,255,255,0.32);

  &:hover {
    color: @white;
    background: @blue;
  }
}
.btn-blue {
  color: @white;
  border-color: @white;
  background: @blue;

  &:hover {
    color: @blue;
    background: @white;
  }
}

.social-icons-custom {
  list-style: none;
  margin: 0;

  li {
    display: inline-block;
    margin: 0 15px;
    a {
      background: url(/templates/ee/images/social-sprite.png) no-repeat;
      display: inline-block;
      height: 30px;
      width: 30px;
    }
    a.facebook {
      background-position: 0 0;
    }
    a.twitter {
      background-position: 0 -45px;
    }
    a.google_plus {
      background-position: 0 -95px;
    }
    a.linkedin {
      background-position: 0 -145px;
    }
  }
}

.hanging-arrow(@color:@white; @size:20px; @left:50%) {
  position: relative;
  text-align: center;
  &:before {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    border: @size solid transparent;
    border-top-color: @color;
    bottom: -2 * @size;
    margin-left: -1 * @size;
    left: @left;
  }
}

body {
  padding: 0;
}
html {
  .box-sizing(border-box);
}
html * {
  .box-sizing(inherit);
}
.container {
  max-width: 960px;
  padding: 0;

  @media (min-width:@screen-lg-min) {
    width: 960px;
  }
  @media (max-width:@screen-sm-max) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.row-fluid [class*="span"] {
  min-height: 0;
}
h1 {
  .sans;
  color: @white;
  font-size: 64px;
  line-height: 80px;
  .antialiased;
  font-weight: 300;
  text-transform: lowercase;
  margin: 0 0 6px;
}
h2 {
  .sans;
  color: @blue;
  font-size: 21px;
  font-weight: 700;
  text-transform: none;
  line-height: 34px;
  margin: 0 0 5px;
}
h3 {
  .sans;
  color: @white;
  font-size: 24px;
  font-weight: 400;
  .antialiased;
  text-transform: none;
  line-height: 40px;
  margin: 0 0 28px;
}
h4 {
  .sans;
  color: @black;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 30px;
  margin: 0 0 10px;
}
h5 {
  .sans;
  color: @black;
  font-size: 18px;
  font-weight: 300;
  text-transform: none;
  line-height: 30px;
  margin: 0;
}
h6 {
  .sans;
  color: @white;
  font-size: 16px;
  font-weight: 700;
  .antialiased;
  text-transform: uppercase;
  line-height: 24px;
  margin: 0 0 15px;
}

.hide {
  display: none;
}

header {
  border: none;
  background: url(/templates/ee/images/hanging-caret-greylight.png) repeat-x center bottom,
              url(/templates/ee/images/header-bg.jpg) 0 0 no-repeat;
  background-size: auto, cover;
  padding: 0;
  position: relative;
  z-index: 15;

  .header-inner {
    padding: 22px 0;
    height: 88px;
    background-color: rgba(0, 0, 30, 0.2);

    .brand {
      position: relative;
      z-index: 9999;
    }
    #mainMenu {
      margin: 0;

      li {
        > a {
          .sans;
          color: @white;
          font-size: 15px;
          font-weight: 300;

          &:hover, &:focus {
            background: none;
            color: @blue;
          }
        }
        &.active.current {
          a {
            background: none;
            font-weight: 700;
          }
        }
      }
    }
  }
}
.home .header {
  background: none;
}
.footer {
  background: @blue;
  padding: 35px 0;

  p {
    color: @white;
    text-align: right;
    .sans;
    font-size: 11px;
    font-weight: 300;
    margin: 0;
    line-height: 35px;
    vertical-align: middle;
    letter-spacing: 1px;

    span.divider {
      margin: 0 2px
    }
  }
}
#homeHeaderCarousel {
  height: 785px;
  margin: -88px auto 0;
  position: relative;
  z-index: 10;

  .carousel-inner {
    height: 100%;

    .item {
      width: 100%;
      height: 100%;

      .slide {
        height: 100%;
        background-size: auto, cover !important;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 30px;

        h3 {
          font-size: 27px;
          line-height: 45px;
          margin: 0 auto 28px;
        }
      }
      .tt {
        background: url(/templates/ee/images/hanging-caret-blue.png) repeat-x center bottom,
                    url(/templates/ee/images/home-header-carousel/tt-bg.jpg) no-repeat center bottom transparent;
        padding-top: 186px;
        img {
          margin: -64px 0;
        }
        h3 {
          max-width: 770px;
        }
      }
      .posrg {
        background: url(/templates/ee/images/hanging-caret-blue.png) repeat-x center bottom,
                    url(/templates/ee/images/home-header-carousel/posrg-bg.jpg) no-repeat center bottom transparent;
        padding-top: 226px;
        img {
          margin-bottom: 20px;
        }
        h3 {
          max-width: 520px;
        }
      }
      .echo {
        background: url(/templates/ee/images/hanging-caret-blue.png) repeat-x center bottom,
                    url(/templates/ee/images/home-header-carousel/echo-bg.jpg) no-repeat center bottom transparent;
        padding-top: 238px;
        img {
          margin: -15px 0 0;
        }
        h3 {
          max-width: 480px;
        }
      }
      .al {
        background: url(/templates/ee/images/hanging-caret-blue.png) repeat-x center bottom,
                    url(/templates/ee/images/home-header-carousel/al-bg.jpg) no-repeat center bottom transparent;
        padding-top: 62px;
        img {
          margin: 0 0 -145px;
        }
        h3 {
          max-width: 630px;
        }
      }
    }
  }
}
.custom.header-banner {
  padding: 40px 0 80px;
  text-align: center;

  h3 {
    font-size: 24px;
    margin-bottom: 0;
  }
}
.custom.innovative-solutions {
  padding: 24px 0 45px;
  text-align: center;
  background: @blue;

  h2 {
    .cursive;
    color: @white;
    .antialiased;
    font-size: 48px;
    line-height: 64px;
    font-weight: 400;
    margin: 0 0 6px;
    text-transform: lowercase;
    letter-spacing: 1px;
  }
}
.icon-services {
  background: url(/templates/ee/images/services-sprite.png) no-repeat;
  height: 54px;
  width: 57px;
  display: inline-block;
}
.icon-services.gear {
  background-position: 0 0;
}
.icon-services.star {
  background-position: 0 -100px;
}
.icon-services.mag {
  background-position: 0 -200px;
}
.icon-services.quote {
  background-position: 0 -300px;
}
.icon-services.bulb {
  background-position: 0 -400px;
}
.icon-services.people {
  background-position: 0 -500px;
}
.custom.services-carousel {
  background: @grayLight;
  padding: 50px 0 60px;

  .container {
    position: relative;

    @media (min-width:@screen-lg-min) {
      width: 990px;
      max-width: 990px;
    }
  }
  .item {
    background: rgba(255,255,255,0.32);
    border: 1px solid @white;
    border-radius: 10px;
    margin: 0 10px;
    padding: 20px 15px 25px;
    text-align: center;
    cursor: pointer;

    h4 {
      text-transform: none;
      margin-bottom: 5px;
    }

    @media (min-width:@screen-md-min) {
      .break {
        margin-left: auto;
        margin-right: auto;
      }
      h4.break {
        max-width: 121px;
      }
      h5.break {
        max-width: 154px;
      }
    }
  }
  .prev, .next {
    color: @white;
    display: inline-block;
    font-size: 60px;
    font-weight: 300;
    .sans;
    .antialiased;
    -ms-transform: scaleY(1.5);
    -webkit-transform: scaleY(1.5);
    -moz-transform: scaleY(1.5);
    -o-transform: scaleY(1.5);
    transform: scaleY(1.5);
    position: absolute;
    top: 50%;
    height: 26px;
    margin-top: -13px;

    &:hover {
      text-decoration: none;
      color: @blue;
      cursor: pointer;
    }
  }
  .prev {
    left: -45px;
  }
  .next {
    right: -45px;
  }
  .hanging-arrow {
    display: none;
  }
}
.what-we-do .custom.services-carousel {
  padding: 0;

  .container {
    padding: 50px 0 55px;
    position: relative;

    .hanging-arrow {
      display: block;
      height: 0;
      width: 0;
      position: absolute;
      border: 20px solid transparent;
      border-top-color: #eceef2;
      bottom: -40px;
      margin-left: -20px;
      left: 50%;
      -webkit-transition: left 400ms linear;
      -moz-transition: left 400ms linear;
      -o-transition: left 400ms linear;
      -ms-transition: left 400ms linear;
      transition: left 400ms linear;
    }
  }
}
.custom.home-split {
  .split {
    float: left;
    height: 466px;
  }
  .split-white {
    background: @white;
    width: 48%;
    position: relative;

    img {
      width: 100%;
      position: absolute;
      bottom: 0;
    }
  }
  .split-texture {
    background: url(/templates/ee/images/header-bg.jpg) no-repeat top left;
    background-size: cover;
    width: 52%;

    .split-content {
      max-width: 500px;
      text-align: center;
      padding: 55px;
      display: inline-block;

      img {
        margin-bottom: 36px;
      }
      h3 {
        font-size: 18px;
        line-height: 32px;
      }
    }
  }
  .split-right {
    text-align: left;

    &.split-white {
      img {
        left: 0;
      }
    }
    &.split-texture {
      background: url(/templates/ee/images/hanging-caret-white-left.png) no-repeat left center,
                  url(/templates/ee/images/header-bg.jpg) no-repeat left top;
      background-size: 4% 100%, auto;

      .split-content {
        margin-left: 4%;
      }
    }
  }
  .split-left {
    text-align: right;

    &.split-white {
      img {
        right: 0;
      }
    }
    &.split-texture {
      background: url(/templates/ee/images/hanging-caret-white-right.png) no-repeat right center,
                  url(/templates/ee/images/header-bg.jpg) no-repeat right top;
      background-size: 4% 100%, auto;

      .split-content {
        margin-right: 4%;
      }
    }
  }
}
.custom.home-aerex {
  .split-white {
    img {
      max-width: 576px;
      margin-top: 30px;
      bottom: 15px;
    }
  }
  .split-texture {
    .split-content {
      padding: 60px 55px;
    }
  }
}
.custom.home-angel {
  .split-white {
    img {
      max-width: 575px;
      padding: 0 15px;
    }
  }
  .split-texture {
    .split-content {
      padding: 48px 55px;

      img {
        margin-bottom: 25px;
      }
    }
  }
}
.custom.explore {
  background: @grayLight;
  padding: 35px 0;
  text-align: center;

  h5 {
    max-width: 775px;
    margin-left: auto;
    margin-right: auto;
  }
}
.custom.expanded-services {
  height: 433px;
  overflow: hidden;
  padding-top: 16px;

  .container {
    position: relative;
  }
  .expanded {
    overflow: hidden;
    img {
      float: right;
    }
    .expanded-content {
      max-width: 54%;
    }
  }
  .programming {
    padding-top: 29px;
    .expanded-content {
      margin-top: 30px;
    }
  }
  .design {
    padding-top: 64px;
    .expanded-content {
      margin-top: -5px;
    }
  }
  .sem {
    padding-top: 48px;
    img {
      margin-right: 80px;
    }
    .expanded-content {
      margin-top: 11px;
    }
  }
  .social {
    padding-top: 44px;
    .expanded-content {
      margin-top: 15px;
    }
  }
  .content {
    padding-top: 0;
    .expanded-content {
      margin-top: 59px;
    }
  }
  .consulting {
    padding-top: 18px;
    img {
      margin-right: 64px;
    }
    .expanded-content {
      margin-top: 41px;
      max-width: 52%;
    }
  }
  .toggleable {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: opacity 350ms linear;
    -moz-transition: opacity 350ms linear;
    -o-transition: opacity 350ms linear;
    -ms-transition: opacity 350ms linear;
    transition: opacity 350ms linear;

    &.visible {
      opacity: 1;
    }
  }
}
.custom.clients {
  background: @gray;
  text-align: center;
  padding: 50px 0 20px;
  .hanging-arrow(@gray;20px;50%);

  h4 {
    margin-bottom: 50px;
  }
  .row-fluid {
    margin-bottom: 80px;

    .span3 {
      @media (min-width:@screen-md-min) {
        margin: 0 auto;
        float: none;
        display: inline-block;
        width: 25%;
      }
    }
  }
}