// CSS Reset
@import "../../../media/jui/less/reset.less";

// Core variables and mixins
@import "variables.less"; // Custom for this template
@import "../../../media/jui/less/mixins.less";

// Grid system and page structure
@import "../../../media/jui/less/scaffolding.less";
@import "../../../media/jui/less/grid.less";
@import "../../../media/jui/less/layouts.less";

// Base CSS
@import "../../../media/jui/less/type.less";
@import "../../../media/jui/less/code.less";
@import "../../../media/jui/less/forms.less";
@import "../../../media/jui/less/tables.less";

// Components: common
// @import "../../../media/jui/less/sprites.less";
@import "../../../media/jui/less/dropdowns.less";
@import "../../../media/jui/less/wells.less";
@import "../../../media/jui/less/component-animations.less";
@import "../../../media/jui/less/close.less";

// Components: Buttons & Alerts
@import "../../../media/jui/less/buttons.less";
@import "../../../media/jui/less/button-groups.less";
@import "../../../media/jui/less/alerts.less"; // Note: alerts share common CSS with buttons and thus have styles in buttons.less

// Components: Nav
@import "../../../media/jui/less/navs.less";
@import "../../../media/jui/less/navbar.less";
@import "../../../media/jui/less/breadcrumbs.less";
@import "../../../media/jui/less/pagination.less";
@import "../../../media/jui/less/pager.less";

// Components: Popovers
@import "../../../media/jui/less/modals.less";
@import "../../../media/jui/less/tooltip.less";
@import "../../../media/jui/less/popovers.less";

// Components: Misc
@import "../../../media/jui/less/thumbnails.less";
@import "../../../media/jui/less/labels-badges.less";
@import "../../../media/jui/less/progress-bars.less";
@import "../../../media/jui/less/accordion.less";
@import "../../../media/jui/less/carousel.less";
@import "../../../media/jui/less/hero-unit.less";

// Utility classes
@import "../../../media/jui/less/utilities.less";

// RESPONSIVE CLASSES
// ------------------

@import "../../../media/jui/less/responsive-utilities.less";


// MEDIA QUERIES
// ------------------

// Phones to portrait tablets and narrow desktops
@import "../../../media/jui/less/responsive-767px-max.less";

// Tablets to regular desktops
@import "../../../media/jui/less/responsive-768px-979px.less";

// Large desktops
@import "../../../media/jui/less/responsive-1200px-min.less";


// RESPONSIVE NAVBAR
// ------------------

// From 979px and below, show a button to toggle navbar contents
@import "../../../media/jui/less/responsive-navbar.less";

// Extended for JUI
@import "../../../media/jui/less/bootstrap-extended.less"; // Has to be last to override when necessary
// div.modal (instead of .modal)
@import "../../../media/jui/less/modals.joomla.less";
@import "../../../media/jui/less/responsive-767px-max.joomla.less";

// Icon Font
@import "icomoon.less";


.sans() {
  font-family: "Lato", sans-serif;
}
.cursive() {
  font-family: "Oleo Script", cursive;
}
.antialiased() {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
.subpixel() {
  -webkit-font-smoothing: sub-pixel-antialiased;
  -moz-osx-font-smoothing: sub-pixel-antialiased;
  -o-font-smoothing: auto;
  font-smoothing: antialiased;
}

.btn {
  .sans;
  font-weight: 700;
  .antialiased;
  font-size: 16px;
  text-transform: uppercase;
  padding: 22px 36px;
  border-radius: 8px;
  border: 1px solid;
  text-shadow: none;
  -webkit-transition: background 150ms linear;
  -moz-transition: background 150ms linear;
  -o-transition: background 150ms linear;
  -ms-transition: background 150ms linear;
  transition: background 150ms linear;

  &:hover {
    -webkit-transition: background 150ms linear;
    -moz-transition: background 150ms linear;
    -o-transition: background 150ms linear;
    -ms-transition: background 150ms linear;
    transition: background 150ms linear;
  }
}
.btn-white {
  color: @blue;
  border-color: @white;
  background: rgba(255,255,255,0.32);

  &:hover {
    color: @blue;
    background: rgb(255,255,255);
  }
}
.btn-white-alt {
  color: @white;
  border-color: @white;
  background: rgba(255,255,255,0.32);

  &:hover {
    color: @white;
    background: @blue;
  }
}

.hanging-arrow(@color:@white; @border:@black; @size:20px; @borderWidth:1px) {
  @borderSize: @size + @borderWidth;
  position: relative;
  text-align: center;
  border-bottom: @borderWidth solid @border;
  &:before, &:after {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
  }
  &:before {
    border: @size solid transparent;
    border-top-color: @color;
    bottom: -2 * @size;
    margin-left: -1 * @size;
    z-index: 2;
  }
  &:after {
    border: @borderSize solid transparent;
    border-top-color: @border;
    bottom: -2 * @borderSize;
    margin-left: -1 * @borderSize;
    z-index: 1;
  }
}

body {
  padding: 0;
}
html {
  .box-sizing(border-box);
}
html * {
  .box-sizing(inherit);
}
.container {
  max-width: 960px;
  padding: 0;

  @media (min-width:@screen-lg-min) {
    width: 960px;
  }
  @media (max-width:@screen-sm-max) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.hide {
  display: none;
}

header {
  border: none;
  background: url(/templates/ee/images/header-bg.jpg) center center no-repeat;
  background-size: cover;
  padding: 0;
  position: relative;
  z-index: 15;

  .header-inner {
    padding: 22px 0;
    height: 88px;
    background-color: rgba(0, 0, 30, 0.2);

    #mainMenu {
      margin: 0;

      li {
        > a {
          .sans;
          color: @white;
          font-size: 15px;
          font-weight: 300;

          &:hover {
            background: none;
          }
        }
      }
    }
  }
}
.home .header {
  background: none;
}
#homeHeaderCarousel {
  height: 785px;
  margin-top: -88px;
  position: relative;
  z-index: 10;

  .carousel-inner {
    height: 100%;

    .item {
      width: 100%;
      height: 100%;

      .slide {
        height: 100%;
        background-size: 100% 3%, cover !important;
        text-align: center;

        h3 {
          .sans;
          color: @white;
          font-size: 27px;
          font-weight: 400;
          .antialiased;
          text-transform: none;
          line-height: 45px;
          display: block;
          margin: 0 auto 28px;
        }
        @media (max-width:1200px) {
          background-size: auto, cover !important;
        }
      }
      .tt {
        background: url(/templates/ee/images/home-header-carousel/hanging-caret.png) no-repeat center bottom,
                    url(/templates/ee/images/home-header-carousel/tt-bg.jpg) no-repeat center bottom transparent;
        padding: 186px 0 0;
        img {
          margin: -64px 0;
        }
        h3 {
          max-width: 770px;
        }
      }
      .posrg {
        background: url(/templates/ee/images/home-header-carousel/hanging-caret.png) no-repeat center bottom,
                    url(/templates/ee/images/home-header-carousel/posrg-bg.jpg) no-repeat center bottom transparent;
        padding: 226px 0 0;
        img {
          margin-bottom: 20px;
        }
        h3 {
          max-width: 520px;
        }
      }
      .echo {
        background: url(/templates/ee/images/home-header-carousel/hanging-caret.png) no-repeat center bottom,
                    url(/templates/ee/images/home-header-carousel/echo-bg.jpg) no-repeat center bottom transparent;
        padding: 238px 0 0;
        img {
          margin: -15px 0 0;
        }
        h3 {
          max-width: 480px;
        }
      }
      .al {
        background: url(/templates/ee/images/home-header-carousel/hanging-caret.png) no-repeat center bottom,
                    url(/templates/ee/images/home-header-carousel/al-bg.jpg) no-repeat center bottom transparent;
        padding: 62px 0 0;
        img {
          margin: 0 0 -145px;
        }
        h3 {
          max-width: 630px;
        }
      }
    }
  }
}