header {
  background: url(/templates/ee/images/gray-gradient-bg.jpg) 0 0 no-repeat #5a6477;
}
.case-studies-child .header {
  background: url(/templates/ee/images/gray-gradient-bg.jpg) 0 0 no-repeat #5a6477;
}
.who-we-are .header {
  background: url(/templates/ee/images/gray-gradient-bg.jpg) 0 0 no-repeat #5a6477;
}
.what-we-do .header {
  background: url(/templates/ee/images/gray-gradient-bg.jpg) 0 0 no-repeat #5a6477;
}
#homeHeaderCarousel .carousel-inner .item .tt {
  background: url(/templates/ee/images/home-header-carousel/tt-bg.jpg) no-repeat center bottom transparent;
}
#homeHeaderCarousel .carousel-inner .item .posrg {
  background: url(/templates/ee/images/home-header-carousel/posrg-bg.jpg) no-repeat center bottom transparent;
}
#homeHeaderCarousel .carousel-inner .item .echo {
  background: url(/templates/ee/images/home-header-carousel/echo-bg.jpg) no-repeat center bottom transparent;
}
#homeHeaderCarousel .carousel-inner .item .al {
  background: url(/templates/ee/images/home-header-carousel/al-bg.jpg) no-repeat center bottom transparent;
}
.custom.home-split .split-right.split-texture {
  background: url(/templates/ee/images/gray-gradient-bg.jpg) no-repeat left top #5a6477;
}
.custom.home-split .split-left.split-texture {
  background: url(/templates/ee/images/gray-gradient-bg.jpg) no-repeat right top #5a6477;
}
.btn-white-alt {
  color: #0977bc;
}
